{% extends 'base.html' %}

{% block title%} Lista de Livros {% endblock %}

{% block content %}
<h3>Lista de Livros</h3> 
<div class="form-row">
    <div class="form-group col-md-6">        
        <input id="search" name="search" type="search"  class="form-control" placeholder="Digite o código do Livro" />     
    </div>
    <div class="form-group">   
        <button class="btn btn-primary" type="submit">Pesquisar</button>
    </div>
</div>
<div class="form-group ">    
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Nome</th>
            <th scope="col">Gênero</th>
            <th scope="col">Ano de Lançamento</th>
            <th scope="col">Autor</th>
            {% if current_user.is_authenticated and current_user.admin == True %}
            <th scope="col">Alterar</th>
            {% endif %}
            <th scope="col">Detalhes</th>
        </tr>
        </thead>
        <tbody>
            {% for book in books %}
        <tr>
            <th scope="row">{{ book.id }}</th>
            <td>{{ book.nome_book }}</td>
            <td>{{ book.genero }}</td>
            <td>{{ book.ano }}</td>
            <td>{{ book.autor }}</td>
            {% if current_user.is_authenticated and current_user.admin == True %}            
            <td><a href="/livros/list_livros/alt_livro/{{ book.id }}"> Alterar</a></td>
            {% endif %}
            <td><a href="/livros/list_livros/ver_livro/{{ book.id }}">Ver</a></td>
        {% endfor %}      
        </tbody>
    </table>
</div>
{% endblock %}